<html>

<head>
    <title>ENG3000 Website</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <script defer src="/static/displays/menu.js"></script>
    <script defer src="/static/displays/calibrate.js"></script>
    <script defer src="/static/displays/alert.js"></script>
    <script defer src="/static/displays/logs.js"></script>
    <script defer src="/static/displays/options.js"></script>
    <script defer src="/static/displays/game.js?v=2"></script>
    <script defer src="/static/canvas.js?v=2"></script>
</head>

<body>
    <canvas id="game"></canvas>
</body>
<style>
    html,
    body {
        margin: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        background: #13131c;
    }

    canvas {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
    }
</style>

</html>
